.ecpc-center {
  &_container {
    font-family: 'Cairo', sans-serif;
    &__header {
      height: 70vh;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      h1 {
        font-size: 90px;
        max-width: 920px;
        width: 100%;
        color: #E3E5EF;
        text-align: center;
        @media(max-width: 991px) {
          font-size: 40px;
        }
      }

      p {
        color: #F9FAFB;
        font-size: 16px;
        margin: 0 auto;
        text-align: center;
        max-width: 495px;
        width: 100%;
        @media(max-width: 991px) {
          width: 85%;
        }
      }
    }

    &__content {
      &_sections {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
      }

      &__tabs {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 300px;
        margin-top: 100px;
        @media(max-width: 1200px) {
          gap: 100px;
          flex-wrap: wrap;
        }
        a {
          text-decoration: none;
        }
        &_item {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          cursor: pointer;

          p {
            font-size: 32px;
            color: #1F4385;
            font-weight: bold;
          }
        }
      }
    }

  }
}